/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #79155B;
  color: white;
  overflow-x: hidden; /* Prevent horizontal scroll on smaller screens */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.listContainer {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #C23373;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.486);
  padding: 10px;
}

.listContainer h1 {
  font-size: 1.5rem;
  background-color: #F6635C;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.listContainer input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.listContainer button {
  margin-left: 15px;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 200ms ease-in;
  background-color: #79155B;
  color: white;
  cursor: pointer;
}

.listContainer button:hover {
  background-color: #3C2D50;
}

/* ListItems CSS */
.listItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10px;
  padding: 10px;
  background-color: #79155B;
  border-radius: 5px;
}

.listItems li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #d7d561;
  margin: 10px 0;
  text-align: center;
}

.listItems .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.listItems button {
  font-size: .8rem;
  padding: 5px 10px;
  transition: all 200ms ease-in;
  background-color: #79155B;
  color: white;
  border: 1px solid red;
  outline: none;
  cursor: pointer;
}
.listItems .editBtn{
  border: 1px solid rgb(146, 143, 143);
}
.listItems .editBtn:hover {
  background-color: gray;
}

.listItems button:hover {
  background-color: red;
}
